set_io --warn-no-port hwclk 21
set_io --warn-no-port led0 98
set_io --warn-no-port led1 97
set_io --warn-no-port led2 99
set_io --warn-no-port led3 96
set_io --warn-no-port ledGreen 95
# FTDI / UART pins
set_io --warn-no-port ftdi_tx 8